// screen size
$screen-mobile: 375px;
$screen-desktop: 1440px;
//primary color
$primaryOrange: hsl(26, 100%, 55%);
$primaryPaleOrange: hsl(25, 100%, 94%);
// secondary color
$secondarVeryDarkBlue: hsl(220, 13%, 13%);
$secondarDarkGrayishBlue: hsl(219, 9%, 45%);
$secondarGrayishBlue: hsl(220, 14%, 75%);
$secondarLightGrayishBlue: hsl(223, 64%, 98%);
$secondarWhite: hsl(0, 0%, 100%);
