@use '../global/' as *;

.navbar {
  // main
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 2rem 0;
  //links
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 2rem;

    .home-link {
      @media (max-width: 1000px) {
        display: none;
      }
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  //icons
  &__icons {
    display: flex;
    gap: 2rem;
    .icon {
      width: 30px;
    }
  }
}
